{% extends "base.html" %} {% block content %}
<header class="navbar-light navbar-sticky">
  <nav class="navbar navbar-expand-xl">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img
          class="light-mode-item navbar-brand-item"
          src="assets/images/logo.svg"
          alt="logo"
        />
        <img
          class="dark-mode-item navbar-brand-item"
          src="assets/images/logo-light.svg"
          alt="logo"
        />
      </a>
      <button
        class="navbar-toggler ms-auto"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-animation">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </button>

      <!-- Main navbar START -->
      <div class="navbar-collapse w-100 collapse" id="navbarCollapse">
        <!-- Nav Main menu START -->
        <ul class="navbar-nav navbar-nav-scroll mx-auto">
          <!-- Nav item 1 Demos -->
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="demoMenu"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              >Demos</a
            >
            <ul class="dropdown-menu" aria-labelledby="demoMenu">
              <li>
                <a class="dropdown-item" href="index.html">Home Default</a>
              </li>
              <li>
                <a class="dropdown-item" href="index-2.html">Home Education</a>
              </li>
              <li>
                <a class="dropdown-item" href="index-3.html">Home Academy</a>
              </li>
              <li>
                <a class="dropdown-item" href="index-4.html">Home Course</a>
              </li>
              <li>
                <a class="dropdown-item" href="index-5.html">Home University</a>
              </li>
              <li>
                <a class="dropdown-item" href="index-6.html"
                  >Home Kindergarten</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="index-7.html">Home Landing</a>
              </li>
              <li>
                <a class="dropdown-item" href="index-8.html">Home Tutor</a>
              </li>
              <li>
                <a class="dropdown-item" href="index-9.html">Home School</a>
              </li>
              <li>
                <a class="dropdown-item" href="index-10.html">Home Abroad</a>
              </li>
              <li>
                <a class="dropdown-item" href="index-11.html">Home Workshop</a>
              </li>
            </ul>
          </li>

          <!-- Nav item 2 Pages -->
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="pagesMenu"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              >Pages</a
            >
            <ul class="dropdown-menu" aria-labelledby="pagesMenu">
              <!-- Dropdown submenu -->
              <li class="dropdown-submenu dropend">
                <a class="dropdown-item dropdown-toggle" href="#">Course</a>
                <ul
                  class="dropdown-menu dropdown-menu-start"
                  data-bs-popper="none"
                >
                  <li>
                    <a class="dropdown-item" href="course-categories.html"
                      >Course Categories</a
                    >
                  </li>
                  <li><hr class="dropdown-divider" /></li>
                  <li>
                    <a class="dropdown-item" href="course-grid.html"
                      >Course Grid Classic</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="course-grid-2.html"
                      >Course Grid Minimal</a
                    >
                  </li>
                  <li><hr class="dropdown-divider" /></li>
                  <li>
                    <a class="dropdown-item" href="course-list.html"
                      >Course List Classic</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="course-list-2.html"
                      >Course List Minimal</a
                    >
                  </li>
                  <li><hr class="dropdown-divider" /></li>
                  <li>
                    <a class="dropdown-item" href="course-detail.html"
                      >Course Detail Classic</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="course-detail-min.html"
                      >Course Detail Minimal</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="course-detail-adv.html"
                      >Course Detail Advance</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="course-detail-module.html"
                      >Course Detail Module</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="course-video-player.html"
                      >Course Full Screen Video</a
                    >
                  </li>
                </ul>
              </li>

              <!-- Dropdown submenu -->
              <li class="dropdown-submenu dropend">
                <a class="dropdown-item dropdown-toggle" href="#">About</a>
                <ul
                  class="dropdown-menu dropdown-menu-start"
                  data-bs-popper="none"
                >
                  <li>
                    <a class="dropdown-item" href="about.html">About Us</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="contact-us.html"
                      >Contact Us</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="blog-grid.html">Blog Grid</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="blog-masonry.html"
                      >Blog Masonry</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="blog-detail.html"
                      >Blog Detail</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="pricing.html">Pricing</a>
                  </li>
                </ul>
              </li>

              <!-- Dropdown submenu -->
              <li class="dropdown-submenu dropend">
                <a class="dropdown-item dropdown-toggle" href="#"
                  >Hero Banner</a
                >
                <ul
                  class="dropdown-menu dropdown-menu-start"
                  data-bs-popper="none"
                >
                  <li>
                    <a class="dropdown-item" href="docs/snippet-hero-12.html"
                      >Hero Form</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="docs/snippet-hero-13.html"
                      >Hero Vector</a
                    >
                  </li>
                  <li><p class="dropdown-item mb-0">Coming soon....</p></li>
                </ul>
              </li>

              <li>
                <a class="dropdown-item" href="instructor-list.html"
                  >Instructor List</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="instructor-single.html"
                  >Instructor Single</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="become-instructor.html"
                  >Become an Instructor</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="abroad-single.html"
                  >Abroad Single</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="workshop-detail.html"
                  >Workshop Detail</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="event-detail.html"
                  >Event Detail</a
                >
              </li>

              <!-- Dropdown submenu -->
              <li class="dropdown-submenu dropend">
                <a class="dropdown-item dropdown-toggle" href="#">Shop</a>
                <ul
                  class="dropdown-menu dropdown-menu-start"
                  data-bs-popper="none"
                >
                  <li>
                    <a class="dropdown-item" href="shop.html">Shop grid</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="shop-product-detail.html"
                      >Product detail</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="cart.html">Cart</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="checkout.html">Checkout</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="empty-cart.html"
                      >Empty Cart</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="wishlist.html">Wishlist</a>
                  </li>
                </ul>
              </li>

              <!-- Dropdown submenu -->
              <li class="dropdown-submenu dropend">
                <a class="dropdown-item dropdown-toggle" href="#">Help</a>
                <ul
                  class="dropdown-menu dropdown-menu-start"
                  data-bs-popper="none"
                >
                  <li>
                    <a class="dropdown-item" href="help-center.html"
                      >Help Center</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="help-center-detail.html"
                      >Help Center Single</a
                    >
                  </li>
                  <li><a class="dropdown-item" href="faq.html">FAQs</a></li>
                </ul>
              </li>

              <!-- Dropdown submenu -->
              <li class="dropdown-submenu dropend">
                <a class="dropdown-item dropdown-toggle" href="#"
                  >Authentication</a
                >
                <ul
                  class="dropdown-menu dropdown-menu-start"
                  data-bs-popper="none"
                >
                  <li>
                    <a class="dropdown-item" href="sign-in.html">Sign In</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="sign-up.html">Sign Up</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="forgot-password.html"
                      >Forgot Password</a
                    >
                  </li>
                </ul>
              </li>

              <!-- Dropdown submenu -->
              <li class="dropdown-submenu dropend">
                <a class="dropdown-item dropdown-toggle" href="#">Form</a>
                <ul
                  class="dropdown-menu dropdown-menu-start"
                  data-bs-popper="none"
                >
                  <li>
                    <a class="dropdown-item" href="request-demo.html"
                      >Request a demo</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="book-class.html"
                      >Book a Class</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="request-access.html"
                      >Free Access</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      href="university-admission-form.html"
                      >Admission Form</a
                    >
                  </li>
                </ul>
              </li>

              <!-- Dropdown submenu -->
              <li class="dropdown-submenu dropend">
                <a class="dropdown-item dropdown-toggle" href="#">Specialty</a>
                <ul
                  class="dropdown-menu dropdown-menu-start"
                  data-bs-popper="none"
                >
                  <li>
                    <a class="dropdown-item" href="error-404.html">Error 404</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="coming-soon.html"
                      >Coming Soon</a
                    >
                  </li>
                </ul>
              </li>
            </ul>
          </li>

          <!-- Nav item 3 Account -->
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="accounntMenu"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              >Accounts</a
            >
            <ul class="dropdown-menu" aria-labelledby="accounntMenu">
              <!-- Dropdown submenu -->
              <li class="dropdown-submenu dropend">
                <a class="dropdown-item dropdown-toggle" href="#"
                  ><i class="fas fa-user-tie fa-fw me-1"></i>Instructor</a
                >
                <ul
                  class="dropdown-menu dropdown-menu-start"
                  data-bs-popper="none"
                >
                  <li>
                    <a class="dropdown-item" href="instructor-dashboard.html"
                      ><i class="bi bi-grid-fill fa-fw me-1"></i>Dashboard</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      href="instructor-manage-course.html"
                      ><i class="bi bi-basket-fill fa-fw me-1"></i>Courses</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      href="instructor-create-course.html"
                      ><i class="bi bi-file-earmark-plus-fill fa-fw me-1"></i
                      >Create Course</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="course-added.html"
                      ><i class="bi bi-file-check-fill fa-fw me-1"></i>Course
                      Added</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="instructor-quiz.html"
                      ><i class="bi bi-question-diamond fa-fw me-1"></i>Quiz</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="instructor-earning.html"
                      ><i class="fas fa-chart-line fa-fw me-1"></i>Earnings</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="instructor-studentlist.html"
                      ><i class="fas fa-user-graduate fa-fw me-1"></i
                      >Students</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="instructor-order.html"
                      ><i class="bi bi-cart-check-fill fa-fw me-1"></i>Orders</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="instructor-review.html"
                      ><i class="bi bi-star-fill fa-fw me-1"></i>Reviews</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="instructor-payout.html"
                      ><i class="fas fa-wallet fa-fw me-1"></i>Payout</a
                    >
                  </li>
                </ul>
              </li>

              <!-- Dropdown submenu -->
              <li class="dropdown-submenu dropend">
                <a class="dropdown-item dropdown-toggle" href="#"
                  ><i class="fas fa-user-graduate fa-fw me-1"></i>Student</a
                >
                <ul
                  class="dropdown-menu dropdown-menu-start"
                  data-bs-popper="none"
                >
                  <li>
                    <a class="dropdown-item" href="student-dashboard.html"
                      ><i class="bi bi-grid-fill fa-fw me-1"></i>Dashboard</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="student-subscription.html"
                      ><i class="bi bi-card-checklist fa-fw me-1"></i>My
                      Subscriptions</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="student-course-list.html"
                      ><i class="bi bi-basket-fill fa-fw me-1"></i>Courses</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="student-course-resume.html"
                      ><i class="far fa-fw fa-file-alt me-1"></i>Course
                      Resume</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="student-quiz.html"
                      ><i class="bi bi-question-diamond fa-fw me-1"></i>Quiz
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="student-payment-info.html"
                      ><i class="bi bi-credit-card-2-front-fill fa-fw me-1"></i
                      >Payment Info</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="student-bookmark.html"
                      ><i class="fas bi-cart-check-fill fa-fw me-1"></i
                      >Wishlist</a
                    >
                  </li>
                </ul>
              </li>

              <li>
                <a class="dropdown-item" href="admin-dashboard.html"
                  ><i class="fas fa-user-cog fa-fw me-1"></i>Admin</a
                >
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item" href="instructor-edit-profile.html"
                  ><i class="fas fa-fw fa-edit me-1"></i>Edit Profile</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="instructor-setting.html"
                  ><i class="fas fa-fw fa-cog me-1"></i>Settings</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="instructor-delete-account.html"
                  ><i class="fas fa-fw fa-trash-alt me-1"></i>Delete Profile</a
                >
              </li>

              <li><hr class="dropdown-divider" /></li>
              <!-- Dropdown Level -->
              <li class="dropdown-submenu dropend">
                <a class="dropdown-item dropdown-toggle" href="#"
                  >Dropdown levels</a
                >
                <ul
                  class="dropdown-menu dropdown-menu-start"
                  data-bs-popper="none"
                >
                  <!-- dropdown submenu open right -->
                  <li class="dropdown-submenu dropend">
                    <a class="dropdown-item dropdown-toggle" href="#"
                      >Dropdown (end)</a
                    >
                    <ul class="dropdown-menu" data-bs-popper="none">
                      <li>
                        <a class="dropdown-item" href="#">Dropdown item</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="#">Dropdown item</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Dropdown item</a>
                  </li>

                  <!-- dropdown submenu open left -->
                  <li class="dropdown-submenu dropstart">
                    <a class="dropdown-item dropdown-toggle" href="#"
                      >Dropdown (start)</a
                    >
                    <ul
                      class="dropdown-menu dropdown-menu-end"
                      data-bs-popper="none"
                    >
                      <li>
                        <a class="dropdown-item" href="#">Dropdown item</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="#">Dropdown item</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Dropdown item</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>

          <!-- Nav item 4 Component-->
          <li class="nav-item">
            <a class="nav-link" href="docs/alerts.html">Components</a>
          </li>

          <!-- Nav item 5 link-->
          <li class="nav-item dropdown">
            <a
              class="nav-link"
              href="#"
              id="advanceMenu"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="fas fa-ellipsis-h"></i>
            </a>
            <ul
              class="dropdown-menu dropdown-menu-end min-w-auto"
              data-bs-popper="none"
            >
              <li>
                <a
                  class="dropdown-item"
                  href="https://support.webestica.com/"
                  target="_blank"
                >
                  <i class="text-warning fa-fw bi bi-life-preserver me-2"></i
                  >Support
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="docs/index.html" target="_blank">
                  <i class="text-danger fa-fw bi bi-card-text me-2"></i
                  >Documentation
                </a>
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a
                  class="dropdown-item"
                  href="https://eduport.webestica.com/rtl/"
                  target="_blank"
                >
                  <i class="text-info fa-fw bi bi-toggle-off me-2"></i>RTL demo
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  href="https://themes.getbootstrap.com/store/webestica/"
                  target="_blank"
                >
                  <i
                    class="text-success fa-fw bi bi-cloud-download-fill me-2"
                  ></i
                  >Buy Eduport!
                </a>
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a
                  class="dropdown-item"
                  href="docs/alerts.html"
                  target="_blank"
                >
                  <i class="text-orange fa-fw bi bi-puzzle-fill me-2"></i
                  >Components
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="docs/snippets.html">
                  <i class="text-purple fa-fw bi bi-stickies-fill me-2"></i
                  >Snippets
                </a>
              </li>
            </ul>
          </li>
        </ul>
        <!-- Nav Main menu END -->

        <!-- Nav Search START -->
        <div class="nav my-3 my-xl-0 px-4 flex-nowrap align-items-center">
          <div class="nav-item w-100">
            <form class="position-relative" method="get" action="/full_search/">
              <input
                class="form-control pe-5 bg-transparent"
                type="search"
                name="quer"
                placeholder="Search"
                aria-label="Search"
              />
              <button
                class="bg-transparent p-2 position-absolute top-50 end-0 translate-middle-y border-0 text-primary-hover text-reset"
                type="submit"
              >
                <i class="fas fa-search fs-6"></i>
              </button>
            </form>
          </div>
        </div>
        <!-- Nav Search END -->
      </div>
      <!-- Main navbar END -->

      <!-- Profile START -->
      <div class="dropdown ms-1 ms-lg-0">
        <a
          class="avatar avatar-sm p-0"
          href="#"
          id="profileDropdown"
          role="button"
          data-bs-auto-close="outside"
          data-bs-display="static"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          {% if request.user.avatar %}
          <img
            class="avatar-img rounded-circle"
            src="{{request.user.avatar.url}}"
            alt="avatar"
          />
          {% else %}
          <img
            class="avatar-img rounded-circle"
            src="https://www.imagensempng.com.br/wp-content/uploads/2021/08/Icone-usuario-Png.png"
            alt="avatar"
          />
          {% endif %}
        </a>
        <ul
          class="dropdown-menu dropdown-animation dropdown-menu-end shadow pt-3"
          aria-labelledby="profileDropdown"
        >
          <!-- Profile info -->
          <li class="px-3 mb-3">
            <div class="d-flex align-items-center">
              <!-- Avatar -->
              <div class="avatar me-3">
                {% if request.user.avatar %}
                  <img
                    class="avatar-img rounded-circle"
                    src="{{request.user.avatar.url}}"
                    alt="avatar"
                  />
                  {% else %}
                  <img
                    class="avatar-img rounded-circle"
                    src="https://www.imagensempng.com.br/wp-content/uploads/2021/08/Icone-usuario-Png.png"
                    alt="avatar"
                  />
                {% endif %}
              </div>
              <div>
                <a class="h6" href="#">{{request.user.username}}</a>
                <p class="small m-0">{{request.user.email}}</p>
              </div>
            </div>
          </li>
          <!-- Links -->
          <li><hr class="dropdown-divider" /></li>
          <li>
            <a class="dropdown-item" href="#"
              ><i class="bi bi-person fa-fw me-2"></i>Edit Profile</a
            >
          </li>
          <li>
            <a class="dropdown-item" href="#"
              ><i class="bi bi-gear fa-fw me-2"></i>Account Settings</a
            >
          </li>
          <li>
            <a class="dropdown-item" href="#"
              ><i class="bi bi-info-circle fa-fw me-2"></i>Help</a
            >
          </li>
          <li>
            <a class="dropdown-item bg-danger-soft-hover" href="#"
              ><i class="bi bi-power fa-fw me-2"></i>Sign Out</a
            >
          </li>
          <li><hr class="dropdown-divider" /></li>
          <!-- Dark mode options START -->
          <li>
            <div
              class="bg-light dark-mode-switch theme-icon-active d-flex align-items-center p-1 rounded mt-2"
            >
              <button
                type="button"
                class="btn btn-sm mb-0"
                data-bs-theme-value="light"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-sun fa-fw mode-switch"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"
                  />
                  <use href="#"></use>
                </svg>
                Light
              </button>
              <button
                type="button"
                class="btn btn-sm mb-0"
                data-bs-theme-value="dark"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-moon-stars fa-fw mode-switch"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278zM4.858 1.311A7.269 7.269 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.316 7.316 0 0 0 5.205-2.162c-.337.042-.68.063-1.029.063-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286z"
                  />
                  <path
                    d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"
                  />
                  <use href="#"></use>
                </svg>
                Dark
              </button>
              <button
                type="button"
                class="btn btn-sm mb-0 active"
                data-bs-theme-value="auto"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-circle-half fa-fw mode-switch"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"
                  />
                  <use href="#"></use>
                </svg>
                Auto
              </button>
            </div>
          </li>
          <!-- Dark mode options END-->
        </ul>
      </div>
      <!-- Profile START -->
    </div>
  </nav>
  <!-- Logo Nav END -->
</header>
<main>
  <section class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="bg-light p-4 text-center rounded-3">
            <h1 class="m-0">Course Grid Minimal</h1>
            <!-- Breadcrumb -->
            <div class="d-flex justify-content-center">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-dots mb-0">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Course minimal
                  </li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- =======================
Page Banner END -->

  <section class="pt-0">
    <div class="container">
      <!-- Filter bar START -->
      <form
        class="bg-light border p-4 rounded-3 my-4 z-index-9 position-relative"
        method="get"
        action="/search/"
      >
        <div class="row g-3">
          <!-- Input -->
          <div class="col-xl-3">
            <input
              class="form-control me-1"
              type="search"
              name="query"
              placeholder="Enter keyword"
            />
          </div>

          <!-- Select item -->
          <div class="col-xl-8">
            <div class="row g-3">
              <!-- Select items -->
              <div class="col-sm-6 col-md-3 pb-2 pb-md-0">
                {% csrf_token %}
                {{ form.category }}
              </div>
            </div>
            <!-- Row END -->
          </div>
          <!-- Button -->
          <div class="col-xl-1">
            <button
              type="submit"
              class="btn btn-primary mb-0 rounded z-index-1 w-100"
            >
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
        <!-- Row END -->
      </form>
      <!-- Filter bar END -->

      <div class="row mt-3">
        <!-- Main content START -->
        <div class="col-12">
          <!-- Course Grid START -->
          <div class="row g-4">
            <!-- Card item START -->
            {% for course in courses %}
            <div class="col-sm-6 col-lg-4 col-xl-3">
              <div class="card shadow h-100">
                <!-- Image -->
                <img
                  src="{{course.course.image.url}}"
                  class="card-img-top"
                  alt="course image"
                />
                <!-- Card body -->
                <div class="card-body pb-0">
                  <!-- Badge and favorite -->
                  <div class="d-flex justify-content-between mb-2">
                    <a
                      href="{% url "detail" course.course.id %}"
                      class="badge bg-purple bg-opacity-10 text-purple"
                      >{{ course.course.level }}</a
                    >
                    {% if request.user in course.course.like.all %}
                    <a href="{% url 'deslike_course' course.course.pk %}" class="h6 fw-light mb-0"
                      ><i class="fas fa-heart"></i
                    ></a>
                    {% else %}
                    <a href="{% url 'like_course' course.course.pk %}" class="h6 fw-light mb-0"
                      ><i class="far fa-heart"></i
                    ></a>
                    {% endif %}
                  </div>
                  <!-- Title -->
                  <h5 class="card-title">
                    <a href="{% url "detail" course.course.id %}">{{ course.course.name }}</a>
                  </h5>
                  <!-- Rating star -->
                  <ul class="list-inline mb-0">
                    {{ course.course.get_average_rating_as_stars }}
                    <li class="list-inline-item ms-2 h6 fw-light mb-0">
                      {{ course.course.calculate_average_rating|floatformat:1 }}/5.0
                    </li>
                  </ul>
                </div>
                <!-- Card footer -->
                <div class="card-footer pt-0 pb-3">
                  <hr />
                  <div class="d-flex justify-content-between">
                    <span class="h6 fw-light mb-0"
                      ><i class="far fa-clock text-danger me-2"></i>12h
                      56m</span
                    >
                    <span class="h6 fw-light mb-0"
                      ><i class="fas fa-table text-orange me-2"></i>15
                      lectures</span
                    >
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          <!-- Course Grid END -->

          <!-- Pagination START -->
          {% if courses.has_other_pages %}
          <div class="col-12">
            <nav
              class="mt-4 d-flex justify-content-center"
              aria-label="navigation"
            >
              <ul
                class="pagination pagination-primary-soft d-inline-block d-md-flex rounded mb-0"
              >
                {% if courses.has_previous %}
                <li class="page-item mb-0">
                  <a class="page-link" href="?page={{ courses.previous_page_number }}" tabindex="-1"
                    ><i class="fas fa-angle-double-left"></i
                  ></a>
                </li>
                {% else %}
                <li class="page-item mb-0">
                  <a class="page-link" href="#" tabindex="-1"
                    ><i class="fas fa-angle-double-left"></i
                  ></a>
                </li>
                {% endif %}
                {% for p in courses.paginator.page_range %}
                {% if courses.number == p %}
                <li class="page-item mb-0 active">
                  <a class="page-link" href="#">{{p}}</a>
                </li>
                {% else %}
                <li class="page-item mb-0">
                  <a class="page-link" href="?page={{ p }}">{{p}}</a>
                </li>
                {% endif %}
                {% endfor %}
                {% if courses.has_next %}
                <li class="page-item mb-0">
                  <a class="page-link" href="?page={{ courses.next_page_number }}"
                    ><i class="fas fa-angle-double-right"></i
                  ></a>
                </li>
                {% else %}
                <li class="page-item mb-0">
                  <a class="page-link" href="#"
                    ><i class="fas fa-angle-double-right"></i
                  ></a>
                </li>
                {% endif %}
              </ul>
            </nav>
          </div>
          {% endif %}
          <!-- Pagination END -->
        </div>
        <!-- Main content END -->
      </div>
      <!-- Row END -->
    </div>
  </section>
</main>
{% endblock %}
