<div class="col-12">
  <div class="video-player rounded-3">
    <div
      tabindex="0"
      class="plyr plyr--full-ui plyr--video plyr--html5 plyr--fullscreen-enabled plyr--paused plyr--stopped plyr--pip-supported plyr--captions-enabled plyr__poster-enabled"
    >
      <div class="plyr__controls">
        <button
          class="plyr__controls__item plyr__control"
          type="button"
          data-plyr="play"
          aria-label="Play"
        >
          <svg class="icon--pressed" aria-hidden="true" focusable="false">
            <use xlink:href="#plyr-pause"></use></svg
          ><svg class="icon--not-pressed" aria-hidden="true" focusable="false">
            <use xlink:href="#plyr-play"></use></svg
          ><span class="label--pressed plyr__sr-only">Pause</span
          ><span class="label--not-pressed plyr__sr-only">Play</span>
        </button>
        <div class="plyr__controls__item plyr__progress__container">
          <div class="plyr__progress">
            <input
              data-plyr="seek"
              type="range"
              min="0"
              max="100"
              step="0.01"
              value="0"
              autocomplete="off"
              role="slider"
              aria-label="Seek"
              aria-valuemin="0"
              aria-valuemax="13.056"
              aria-valuenow="0"
              id="plyr-seek-4810"
              aria-valuetext="00:00 of 00:13"
              style="--value: 0%"
              seek-value="97.84351120320328"
            /><progress
              class="plyr__progress__buffer"
              min="0"
              max="100"
              value="25.337009803921568"
              role="progressbar"
              aria-hidden="true"
            >
              % buffered</progress
            ><span class="plyr__tooltip">00:00</span>
          </div>
        </div>
        <div
          class="plyr__controls__item plyr__time--current plyr__time"
          aria-label="Current time"
        >
          -00:13
        </div>
        <div class="plyr__controls__item plyr__volume">
          <button type="button" class="plyr__control" data-plyr="mute">
            <svg class="icon--pressed" aria-hidden="true" focusable="false">
              <use xlink:href="#plyr-muted"></use></svg
            ><svg
              class="icon--not-pressed"
              aria-hidden="true"
              focusable="false"
            >
              <use xlink:href="#plyr-volume"></use></svg
            ><span class="label--pressed plyr__sr-only">Unmute</span
            ><span class="label--not-pressed plyr__sr-only">Mute</span></button
          ><input
            data-plyr="volume"
            type="range"
            min="0"
            max="1"
            step="0.05"
            value="1"
            autocomplete="off"
            role="slider"
            aria-label="Volume"
            aria-valuemin="0"
            aria-valuemax="100"
            aria-valuenow="100"
            id="plyr-volume-4810"
            aria-valuetext="100.0%"
            style="--value: 100%"
          />
        </div>
        <button
          class="plyr__controls__item plyr__control"
          type="button"
          data-plyr="captions"
        >
          <svg class="icon--pressed" aria-hidden="true" focusable="false">
            <use xlink:href="#plyr-captions-on"></use></svg
          ><svg class="icon--not-pressed" aria-hidden="true" focusable="false">
            <use xlink:href="#plyr-captions-off"></use></svg
          ><span class="label--pressed plyr__sr-only">Disable captions</span
          ><span class="label--not-pressed plyr__sr-only">Enable captions</span>
        </button>
        <div class="plyr__controls__item plyr__menu">
          <button
            aria-haspopup="true"
            aria-controls="plyr-settings-4810"
            aria-expanded="false"
            type="button"
            class="plyr__control"
            data-plyr="settings"
          >
            <svg aria-hidden="true" focusable="false">
              <use xlink:href="#plyr-settings"></use></svg
            ><span class="plyr__sr-only">Settings</span>
          </button>
          <div class="plyr__menu__container" id="plyr-settings-4810" hidden="">
            <div>
              <div id="plyr-settings-4810-home">
                <div role="menu">
                  <button
                    data-plyr="settings"
                    type="button"
                    class="plyr__control plyr__control--forward"
                    role="menuitem"
                    aria-haspopup="true"
                  >
                    <span
                      >Captions<span class="plyr__menu__value"
                        >Disabled</span
                      ></span
                    ></button
                  ><button
                    data-plyr="settings"
                    type="button"
                    class="plyr__control plyr__control--forward"
                    role="menuitem"
                    aria-haspopup="true"
                  >
                    <span
                      >Quality<span class="plyr__menu__value">360p</span></span
                    ></button
                  ><button
                    data-plyr="settings"
                    type="button"
                    class="plyr__control plyr__control--forward"
                    role="menuitem"
                    aria-haspopup="true"
                  >
                    <span
                      >Speed<span class="plyr__menu__value">Normal</span></span
                    >
                  </button>
                </div>
              </div>
              <div id="plyr-settings-4810-captions" hidden="">
                <button type="button" class="plyr__control plyr__control--back">
                  <span aria-hidden="true">Captions</span
                  ><span class="plyr__sr-only">Go back to previous menu</span>
                </button>
                <div role="menu">
                  <button
                    data-plyr="language"
                    type="button"
                    role="menuitemradio"
                    class="plyr__control"
                    aria-checked="true"
                    value="-1"
                  >
                    <span>Disabled</span></button
                  ><button
                    data-plyr="language"
                    type="button"
                    role="menuitemradio"
                    class="plyr__control"
                    aria-checked="false"
                    value="0"
                  >
                    <span
                      >English<span class="plyr__menu__value"
                        ><span class="plyr__badge">EN</span></span
                      ></span
                    ></button
                  ><button
                    data-plyr="language"
                    type="button"
                    role="menuitemradio"
                    class="plyr__control"
                    aria-checked="false"
                    value="1"
                  >
                    <span
                      >French<span class="plyr__menu__value"
                        ><span class="plyr__badge">FR</span></span
                      ></span
                    >
                  </button>
                </div>
              </div>
              <div id="plyr-settings-4810-quality" hidden="">
                <button type="button" class="plyr__control plyr__control--back">
                  <span aria-hidden="true">Quality</span
                  ><span class="plyr__sr-only">Go back to previous menu</span>
                </button>
                <div role="menu">
                  <button
                    data-plyr="quality"
                    type="button"
                    role="menuitemradio"
                    class="plyr__control"
                    aria-checked="false"
                    value="1080"
                  >
                    <span
                      >1080p<span class="plyr__menu__value"
                        ><span class="plyr__badge">HD</span></span
                      ></span
                    ></button
                  ><button
                    data-plyr="quality"
                    type="button"
                    role="menuitemradio"
                    class="plyr__control"
                    aria-checked="false"
                    value="720"
                  >
                    <span
                      >720p<span class="plyr__menu__value"
                        ><span class="plyr__badge">HD</span></span
                      ></span
                    ></button
                  ><button
                    data-plyr="quality"
                    type="button"
                    role="menuitemradio"
                    class="plyr__control"
                    aria-checked="true"
                    value="360"
                  >
                    <span>360p</span>
                  </button>
                </div>
              </div>
              <div id="plyr-settings-4810-speed" hidden="">
                <button type="button" class="plyr__control plyr__control--back">
                  <span aria-hidden="true">Speed</span
                  ><span class="plyr__sr-only">Go back to previous menu</span>
                </button>
                <div role="menu">
                  <button
                    data-plyr="speed"
                    type="button"
                    role="menuitemradio"
                    class="plyr__control"
                    aria-checked="false"
                    value="0.5"
                  >
                    <span>0.5×</span></button
                  ><button
                    data-plyr="speed"
                    type="button"
                    role="menuitemradio"
                    class="plyr__control"
                    aria-checked="false"
                    value="0.75"
                  >
                    <span>0.75×</span></button
                  ><button
                    data-plyr="speed"
                    type="button"
                    role="menuitemradio"
                    class="plyr__control"
                    aria-checked="true"
                    value="1"
                  >
                    <span>Normal</span></button
                  ><button
                    data-plyr="speed"
                    type="button"
                    role="menuitemradio"
                    class="plyr__control"
                    aria-checked="false"
                    value="1.25"
                  >
                    <span>1.25×</span></button
                  ><button
                    data-plyr="speed"
                    type="button"
                    role="menuitemradio"
                    class="plyr__control"
                    aria-checked="false"
                    value="1.5"
                  >
                    <span>1.5×</span></button
                  ><button
                    data-plyr="speed"
                    type="button"
                    role="menuitemradio"
                    class="plyr__control"
                    aria-checked="false"
                    value="1.75"
                  >
                    <span>1.75×</span></button
                  ><button
                    data-plyr="speed"
                    type="button"
                    role="menuitemradio"
                    class="plyr__control"
                    aria-checked="false"
                    value="2"
                  >
                    <span>2×</span></button
                  ><button
                    data-plyr="speed"
                    type="button"
                    role="menuitemradio"
                    class="plyr__control"
                    aria-checked="false"
                    value="4"
                  >
                    <span>4×</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button
          class="plyr__controls__item plyr__control"
          type="button"
          data-plyr="pip"
        >
          <svg aria-hidden="true" focusable="false">
            <use xlink:href="#plyr-pip"></use></svg
          ><span class="plyr__sr-only">PIP</span></button
        ><button
          class="plyr__controls__item plyr__control"
          type="button"
          data-plyr="fullscreen"
        >
          <svg class="icon--pressed" aria-hidden="true" focusable="false">
            <use xlink:href="#plyr-exit-fullscreen"></use></svg
          ><svg class="icon--not-pressed" aria-hidden="true" focusable="false">
            <use xlink:href="#plyr-enter-fullscreen"></use></svg
          ><span class="label--pressed plyr__sr-only">Exit fullscreen</span
          ><span class="label--not-pressed plyr__sr-only"
            >Enter fullscreen</span
          >
        </button>
      </div>
      <div class="plyr__video-wrapper">
        <video
          crossorigin="anonymous"
          playsinline=""
          poster="{{ course.image.url }}"
          src="{{ last_viewed_video.file.url }}"
          data-poster="{{ course.image.url }}"
        >
          <source
            src="{{ last_viewed_video.file.url }}"
            type="video/mp4"
            size="360"
          />
          <source
            src="{{ last_viewed_video.file.url }}"
            type="video/mp4"
            size="720"
          />
          <source
            src="{{ last_viewed_video.file.url }}"
            type="video/mp4"
            size="1080"
          />
          <!-- Caption files -->
          <track
            kind="captions"
            label="English"
            srclang="en"
            src="assets/images/videos/en.vtt"
            default=""
          />
          <track
            kind="captions"
            label="French"
            srclang="fr"
            src="assets/images/videos/fr.vtt"
          />
        </video>
        <div
          class="plyr__poster"
          style="background-image: url('{{ course.image.url }}')"
        ></div>
      </div>
      <div class="plyr__captions"></div>
      <button
        type="button"
        class="plyr__control plyr__control--overlaid"
        data-plyr="play"
        aria-label="Play"
      >
        <svg aria-hidden="true" focusable="false">
          <use xlink:href="#plyr-play"></use></svg
        ><span class="plyr__sr-only">Play</span>
      </button>
    </div>
  </div>
</div>
